asgiref==3.8.1
certifi==2023.11.17
charset-normalizer==3.3.2
Django==4.2.11
djangorestframework==3.15.1
idna==3.6
mssql-django==1.4.2
mysqlclient==2.2.4
nba_api==1.4.1
numpy==1.26.4
pandas==2.2.1
pyodbc==5.1.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
sqlparse==0.4.4
tzdata==2024.1
urllib3==2.2.1
